{
  "presets": ["babel-preset-expo", "module:react-native-dotenv"],
  "plugins": ["relay"],
  "env": {
    "development": {
      "plugins": [
        "@babel/transform-react-jsx-source"
      ]
    }
  }
}
